/* line 1, ../sass/mainstyles.scss */
body {
  background: #232323;
  font-family: "Montserrat", "Avenir", "Lato", arial;
  margin: 0;
  /**
   * TITLE and RGB
   */
  /**
   * STRIP
   */
  /**
   * SQUARE CONTAINER
   */
}
/* line 9, ../sass/mainstyles.scss */
body h1 {
  color: white;
  transition: 0.4s ease-in-out;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  padding: 20px 0;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}
/* line 21, ../sass/mainstyles.scss */
body h1 #colorDisplay {
  font-size: 200%;
}
/* line 29, ../sass/mainstyles.scss */
body #stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
  /**
   * MESSAGE
   */
  /**
   * BUTTONS
   */
}
/* line 38, ../sass/mainstyles.scss */
body #stripe #message {
  display: inline-block;
  width: 20%;
  font-weight: bold;
}
/* line 47, ../sass/mainstyles.scss */
body #stripe button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  font-weight: bold;
  outline: none;
  font-family: "Lato", "Montserrat", "Avenir", arial;
  transition: all 0.3s ease-in-out;
}
/* line 60, ../sass/mainstyles.scss */
body #stripe button:hover {
  background-color: steelblue;
  color: white;
}
/* line 70, ../sass/mainstyles.scss */
body #container {
  margin: 20px auto;
  max-width: 600px;
  /**
   * SQUARES
   */
}
/* line 77, ../sass/mainstyles.scss */
body #container .square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  transition: background 0.6s;
  margin: 1.66%;
  border-radius: 50%;
}

/**
 * ADD/REMOVE SELECTORS FOR JAVASCRIPT
 */
/* line 92, ../sass/mainstyles.scss */
.selected {
  background-color: steelblue !important;
  color: white !important;
}

/* line 97, ../sass/mainstyles.scss */
.hide {
  display: none !important;
}
